cufflinks
plotly
textblob
vaderSentiment
wordcloud
transformers
torch
requests
beautifulsoup4
numpy
regex
panda
tensorflow==2.14.0
textblob
seaborn 
matplotlib
keras==2.14.0
pandas
plotly
requests
scikit-learn
streamlit
